In [46]:
import pandas as pd

In [47]:
columns = ['ID', 'Date', 'Time', 'Session_ID', 'Depth', 'Path', 'Label']
dataset_benign = pd.read_csv("user1_log.txt", sep='|', header = None, names = columns )
dataset_benign.drop(['Date','Time'], axis = 1, inplace = True)
dataset_benign = dataset_benign.sort_values(by = 'Session_ID').reset_index(drop = True)
dataset_benign['Label'] = 0
dataset_benign

            ID  Session_ID  Depth            Path  Label
0            0    35396524      4       0\1\2\3\4      0
1            1    35396524      4       0\1\2\3\4      0
2            2    35396524      4       0\1\2\3\4      0
3            3    35396524      4       0\1\2\3\4      0
4            4    35396524      4       0\1\2\3\4      0
...        ...         ...    ...             ...    ...
274047  274046    40617974      4    0\1\2\3\7632      0
274048  274047    40617974      3         0\1\2\3      0
274049  274048    40617974      3         0\1\2\3      0
274050  274049    40617974      4    0\1\2\3\7632      0
274051  274051    40618023      5  0\1\2\3\14\233      0

[274052 rows x 5 columns]

In [48]:
malicious_logs1 = pd.read_csv('Attack1_log.txt', sep='|', header=None, names=columns)
malicious_logs2 = pd.read_csv('Attack2_log.txt', sep='|', header=None, names=columns)
malicious_logs3 = pd.read_csv('Attack3_log.txt', sep='|', header=None, names=columns)
combined_malicious_logs = pd.concat([malicious_logs1, malicious_logs2, malicious_logs3], ignore_index= True)
combined_malicious_logs

,ID,Date,Time,Session_ID,Depth,Path,Label
0,0,15/04/2012,13:46:06 p.m.,40675566,4,0\1\2\3\4,NaN
1,1,15/04/2012,13:46:06 p.m.,40675566,4,0\1\2\3\4,NaN
2,2,15/04/2012,13:46:06 p.m.,40675566,4,0\1\2\3\4,NaN
3,3,15/04/2012,13:46:06 p.m.,40675566,4,0\1\2\3\4,NaN
4,4,15/04/2012,13:46:06 p.m.,40675566,4,0\1\2\3\4,NaN
...,...,...,...,...,...,...,...
21657,14908,10/04/2012,13:21:00 p.m.,40242060,7,0\1\2\3\180\677\695\697,NaN
21658,14909,10/04/2012,13:21:00 p.m.,40242060,8,0\1\2\3\180\677\695\697\698,NaN
21659,14910,10/04/2012,13:21:00 p.m.,40242060,8,0\1\2\3\180\677\695\697\698,NaN
21660,14911,10/04/2012,13:21:00 p.m.,40242060,9,0\1\2\3\180\677\695\697\698\699,NaN
21661,14912,10/04/2012,13:21:00 p.m.,40242060,8,0\1\2\3\180\677\695\697\698,NaN

In [49]:

combined_malicious_logs['Label'] = 1
combined_malicious_logs.drop(['Date','Time'], axis = 1, inplace = True)
combined_malicious_logs

          ID  Session_ID  Depth                             Path  Label
0          0    40675566      4                        0\1\2\3\4      1
1          1    40675566      4                        0\1\2\3\4      1
2          2    40675566      4                        0\1\2\3\4      1
3          3    40675566      4                        0\1\2\3\4      1
4          4    40675566      4                        0\1\2\3\4      1
...      ...         ...    ...                              ...    ...
21657  14908    40242060      7          0\1\2\3\180\677\695\697      1
21658  14909    40242060      8      0\1\2\3\180\677\695\697\698      1
21659  14910    40242060      8      0\1\2\3\180\677\695\697\698      1
21660  14911    40242060      9  0\1\2\3\180\677\695\697\698\699      1
21661  14912    40242060      8      0\1\2\3\180\677\695\697\698      1

[21662 rows x 5 columns]

In [34]:

example_dataset = combined_malicious_logs.sample(frac = 0.4, random_state=123)

example_dataset = pd.concat([dataset_benign, combined_malicious_logs], ignore_index= True)
example_dataset.to_csv('Name.csv')
example_dataset

           ID  Session_ID  Depth                             Path  Label
0           0    35396524      4                        0\1\2\3\4      0
1           1    35396524      4                        0\1\2\3\4      0
2           2    35396524      4                        0\1\2\3\4      0
3           3    35396524      4                        0\1\2\3\4      0
4           4    35396524      4                        0\1\2\3\4      0
...       ...         ...    ...                              ...    ...
295709  14908    40242060      7          0\1\2\3\180\677\695\697      1
295710  14909    40242060      8      0\1\2\3\180\677\695\697\698      1
295711  14910    40242060      8      0\1\2\3\180\677\695\697\698      1
295712  14911    40242060      9  0\1\2\3\180\677\695\697\698\699      1
295713  14912    40242060      8      0\1\2\3\180\677\695\697\698      1

[295714 rows x 5 columns]

In [6]:
edges = []
prev_path = None

for _, row in example_dataset.iterrows():
    current_path = row['Path']
    timestamp = row['Session_ID']
    label = row['Label']

    # Self-edge
    if prev_path == current_path:
        edges.append({
            'src_node' : current_path,
            'dst_node': current_path,
            'timestamp' : timestamp,
            'weight': 1, # Default weight
            'label' : label
        })
    elif prev_path is not None:
        edges.append({      
            'src_node' : prev_path,
            'dst_node': current_path,
            'timestamp' : row['Session_ID'],
            'weight': 1, # Default weight
            'label' : label # useful during evaluation, by default, it should be left as -
        })
    prev_path = current_path

edges_df = pd.DataFrame(edges)
edges_df

,src_node,dst_node,timestamp,weight,label
0,0\1\2\3\4,0\1\2\3\4,35396524,1,0
1,0\1\2\3\4,0\1\2\3\4,35396524,1,0
2,0\1\2\3\4,0\1\2\3\4,35396524,1,0
3,0\1\2\3\4,0\1\2\3\4,35396524,1,0
4,0\1\2\3\4,0\1\2\3\4,35396524,1,0
...,...,...,...,...,...
295708,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697,40242060,1,1
295709,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697\698,40242060,1,1
295710,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698,40242060,1,1
295711,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698\699,40242060,1,1
295712,0\1\2\3\180\677\695\697\698\699,0\1\2\3\180\677\695\697\698,40242060,1,1

In [36]:
edges = []
prev_path = None
edge_weights = {}  
for _, row in example_dataset.iterrows():
    current_path = row['Path']
    timestamp = row['Session_ID']
    label = row['Label']

    # Self-edge
    if prev_path == current_path:
        edge_key = (current_path, current_path)  
    elif prev_path is not None:
        edge_key = (prev_path, current_path)  
    else:
        prev_path = current_path
        continue  


    if edge_key in edge_weights:
        edge_weights[edge_key] += 1
    else:
        edge_weights[edge_key] = 1

    edges.append({
        'src_node': edge_key[0],
        'dst_node': edge_key[1],
        'timestamp': timestamp,
        'weight': edge_weights[edge_key],
        'label': label
    })

    prev_path = current_path  


edges_df = pd.DataFrame(edges)
edges_df

,src_node,dst_node,timestamp,weight,label
0,0\1\2\3\4,0\1\2\3\4,35396524,1,0
1,0\1\2\3\4,0\1\2\3\4,35396524,2,0
2,0\1\2\3\4,0\1\2\3\4,35396524,3,0
3,0\1\2\3\4,0\1\2\3\4,35396524,4,0
4,0\1\2\3\4,0\1\2\3\4,35396524,5,0
...,...,...,...,...,...
295708,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697,40242060,36,1
295709,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697\698,40242060,28,1
295710,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698,40242060,46,1
295711,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698\699,40242060,36,1
295712,0\1\2\3\180\677\695\697\698\699,0\1\2\3\180\677\695\697\698,40242060,12,1

In [37]:
edges_df[['src_node', 'dst_node', 'timestamp', 'weight', 'label']].to_csv(
    'sedanspot_inp2.csv', sep = ',', header = False, index = False
)
edges_df

,src_node,dst_node,timestamp,weight,label
0,0\1\2\3\4,0\1\2\3\4,35396524,1,0
1,0\1\2\3\4,0\1\2\3\4,35396524,2,0
2,0\1\2\3\4,0\1\2\3\4,35396524,3,0
3,0\1\2\3\4,0\1\2\3\4,35396524,4,0
4,0\1\2\3\4,0\1\2\3\4,35396524,5,0
...,...,...,...,...,...
295708,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697,40242060,36,1
295709,0\1\2\3\180\677\695\697,0\1\2\3\180\677\695\697\698,40242060,28,1
295710,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698,40242060,46,1
295711,0\1\2\3\180\677\695\697\698,0\1\2\3\180\677\695\697\698\699,40242060,36,1
295712,0\1\2\3\180\677\695\697\698\699,0\1\2\3\180\677\695\697\698,40242060,12,1

Calculate the F1 Score and AUC

In [ ]:
from sklearn.metrics import f1_score, roc_auc_score, precision_recall_curve
import pandas as pd
threshold = 0.02
columns = ['src_node', 'dest_node', 'time', 'weight', 'label']
ground_truth = pd.read_csv("sedanspot_input.csv", header = None, names=columns)
anomaly_scores = pd.read_csv("output.csv", header=None, names=["score"])
results = pd.concat([ground_truth, anomaly_scores], axis=1)
results = results[["label", "score"]]
results["predicted"] = (results["score"] > threshold).astype(int)


f1 = f1_score(results["label"], results["predicted"])
print("F1 Score:", f1)

auc = roc_auc_score(results["label"], results["score"])
print("AUC Score:", auc)

F1 Score: 0.1700891678345825
AUC Score: 0.581288645896946

In [ ]:
results['predicted']

0         0
1         0
2         0
3         0
4         0
         ..
295708    1
295709    1
295710    1
295711    1
295712    1
Name: predicted, Length: 295713, dtype: int32

In [1]:
295713*0.1

29571.300000000003

In [3]:
precision, recall, thresholds = precision_recall_curve(results['label'], results['score'])
f1_scores = 2 * (precision * recall) / (precision + recall)
best_threshold = thresholds[f1_scores.argmax()]
print("Best Threshold:", best_threshold)
print("Best F1 Score:", f1_scores.max())

Best Threshold: 0.201005
Best F1 Score: nan

C:\Users\seoji\AppData\Local\Temp\ipykernel_7356\2406305306.py:2: RuntimeWarning: invalid value encountered in divide
  f1_scores = 2 * (precision * recall) / (precision + recall)

In [49]:
threshold = 0.1
columns = ['src_node', 'dest_node', 'time', 'weight', 'label']
ground_truth = pd.read_csv("sedanspot_inp2.csv", header = None, names=columns)
anomaly_scores = pd.read_csv("output_weight.csv", header=None, names=["score"])
results = pd.concat([ground_truth, anomaly_scores], axis=1)
results = results[["label", "score"]]
results["predicted"] = (results["score"] > threshold).astype(int)


f1 = f1_score(results["label"], results["predicted"])
print("F1 Score:", f1)

auc = roc_auc_score(results["label"], results["score"])
print("AUC Score:", auc)

F1 Score: 0.18000097986379893
AUC Score: 0.6195972346744352

In [39]:
precision, recall, thresholds = precision_recall_curve(results['label'], results['score'])
f1_scores = 2 * (precision * recall) / (precision + recall)
best_threshold = thresholds[f1_scores.argmax()]
print("Best Threshold:", best_threshold)
print("Best F1 Score:", f1_scores.max())

Best Threshold: 0.193396
Best F1 Score: nan

C:\Users\seoji\AppData\Local\Temp\ipykernel_7356\2406305306.py:2: RuntimeWarning: invalid value encountered in divide
  f1_scores = 2 * (precision * recall) / (precision + recall)

Inject the malicious dataset into the middle of the dataset

In [5]:
dataset_benign

            ID  Session_ID  Depth            Path  Label
0            0    35396524      4       0\1\2\3\4      0
1            1    35396524      4       0\1\2\3\4      0
2            2    35396524      4       0\1\2\3\4      0
3            3    35396524      4       0\1\2\3\4      0
4            4    35396524      4       0\1\2\3\4      0
...        ...         ...    ...             ...    ...
274047  274046    40617974      4    0\1\2\3\7632      0
274048  274047    40617974      3         0\1\2\3      0
274049  274048    40617974      3         0\1\2\3      0
274050  274049    40617974      4    0\1\2\3\7632      0
274051  274051    40618023      5  0\1\2\3\14\233      0

[274052 rows x 5 columns]

In [6]:
combined_malicious_logs

          ID  Session_ID  Depth                             Path  Label
0          0    40675566      4                        0\1\2\3\4      1
1          1    40675566      4                        0\1\2\3\4      1
2          2    40675566      4                        0\1\2\3\4      1
3          3    40675566      4                        0\1\2\3\4      1
4          4    40675566      4                        0\1\2\3\4      1
...      ...         ...    ...                              ...    ...
21657  14908    40242060      7          0\1\2\3\180\677\695\697      1
21658  14909    40242060      8      0\1\2\3\180\677\695\697\698      1
21659  14910    40242060      8      0\1\2\3\180\677\695\697\698      1
21660  14911    40242060      9  0\1\2\3\180\677\695\697\698\699      1
21661  14912    40242060      8      0\1\2\3\180\677\695\697\698      1

[21662 rows x 5 columns]

In [62]:
combined_malicious_logs

          ID  Session_ID  Depth                             Path  Label
0          0    40675566      4                        0\1\2\3\4      1
1          1    40675566      4                        0\1\2\3\4      1
2          2    40675566      4                        0\1\2\3\4      1
3          3    40675566      4                        0\1\2\3\4      1
4          4    40675566      4                        0\1\2\3\4      1
...      ...         ...    ...                              ...    ...
21657  14908    40242060      7          0\1\2\3\180\677\695\697      1
21658  14909    40242060      8      0\1\2\3\180\677\695\697\698      1
21659  14910    40242060      8      0\1\2\3\180\677\695\697\698      1
21660  14911    40242060      9  0\1\2\3\180\677\695\697\698\699      1
21661  14912    40242060      8      0\1\2\3\180\677\695\697\698      1

[21662 rows x 5 columns]

In [123]:
import random
#Select the random malicious rows 
malicious_subset = combined_malicious_logs.sample(2000, random_state=123) 
injected_dataset = dataset_benign.copy()

injected_indices = []

for _, malicious_row in malicious_subset.iterrows():
        malicious_data = {
                'ID': malicious_row['ID'],
                'Session_ID': malicious_row['Session_ID'],
                'Depth': malicious_row['Depth'],
                'Path': malicious_row['Path'],
                'Label': malicious_row['Label']
                

    }
        malicious_row_df = pd.DataFrame([malicious_data])
        random_index = random.randint(0, len(injected_dataset))
        injected_indices.append(random_index)
        injected_dataset = pd.concat([
                injected_dataset.iloc[:random_index],  
                malicious_row_df,                      
                injected_dataset.iloc[random_index:]  
        ]).reset_index(drop=True)

injected_dataset.to_csv("injected_benign_malicious.csv", index=False)

print(f"Injected {len(malicious_subset)} malicious rows into the benign dataset.")
print(f"Original benign dataset length: {len(dataset_benign)}")
print(f"Injected dataset length: {len(injected_dataset)}")

Injected 2000 malicious rows into the benign dataset.
Original benign dataset length: 274052
Injected dataset length: 276052

In [124]:
print(injected_indices) # To check if it is really being injected randomly

[167212, 165655, 82594, 254540, 161109, 60104, 165346, 114317, 36051, 5689, 175569, 165942, 135724, 35460, 173577, 108780, 39705, 16161, 265321, 120758, 130709, 220914, 31100, 268545, 271726, 105856, 184916, 111255, 208919, 206185, 10618, 96757, 15816, 209064, 52023, 155066, 1682, 5176, 36178, 80932, 118741, 265201, 127710, 241335, 126421, 226112, 246762, 262451, 177259, 147798, 20259, 183982, 189209, 176658, 191075, 42307, 262530, 195381, 171786, 90218, 146024, 203294, 195116, 18323, 140325, 254543, 260600, 245898, 57617, 108723, 175309, 75998, 79256, 262181, 206237, 56872, 242697, 213979, 43677, 113953, 23797, 157402, 156200, 24894, 229423, 62012, 7937, 192692, 33685, 133161, 271404, 204238, 34578, 116505, 5241, 94702, 168280, 168722, 249570, 171217, 43853, 22148, 77947, 64922, 215782, 5145, 239265, 229103, 268019, 118092, 178032, 196975, 89357, 3013, 199994, 234453, 167610, 250827, 197687, 3694, 20642, 35345, 90716, 45457, 208652, 150996, 96493, 128797, 198941, 82242, 239360, 1152, 73319, 111383, 112565, 255143, 101262, 217003, 201080, 161730, 38370, 6449, 252539, 201625, 271344, 158651, 165387, 151406, 36586, 159830, 263466, 121133, 205801, 228582, 136191, 133852, 30347, 108320, 163319, 97677, 173215, 112388, 272559, 181110, 193908, 173837, 206931, 93332, 133779, 81022, 30130, 181384, 52069, 215698, 92302, 259895, 271384, 217470, 261716, 265638, 111994, 94618, 206181, 112948, 178042, 2487, 238469, 47772, 153801, 11680, 104978, 129965, 7601, 16724, 249098, 159145, 128469, 271442, 10136, 75309, 46597, 253411, 83732, 27320, 53672, 86927, 103091, 178163, 194678, 192808, 207531, 132149, 37613, 75465, 25202, 220632, 57088, 154343, 170930, 114327, 258587, 219278, 115102, 198720, 45220, 95747, 56009, 223293, 1540, 36479, 61458, 237950, 1175, 222160, 152857, 124351, 10196, 28521, 243474, 105312, 62775, 204514, 264865, 142300, 108699, 54639, 172161, 111826, 224287, 254289, 30977, 24795, 244036, 41727, 21663, 44744, 96687, 273060, 194642, 30480, 271168, 253679, 47129, 240980, 95162, 69504, 53379, 213372, 78331, 134773, 205277, 180326, 129927, 70951, 140548, 266173, 93797, 71882, 92450, 241845, 51953, 6511, 101835, 163985, 198499, 176620, 247174, 178967, 1515, 52134, 236186, 140448, 156528, 103562, 245521, 141465, 72901, 258427, 191997, 264652, 51524, 209165, 52461, 110078, 80847, 99762, 100500, 198719, 13477, 116573, 270512, 156196, 137575, 37161, 233983, 250164, 262591, 193412, 166275, 100115, 17622, 16318, 245213, 99284, 50763, 214110, 227648, 66972, 66289, 129335, 148252, 138981, 225636, 211804, 256403, 177712, 49564, 83512, 122734, 118696, 25003, 72535, 67592, 124176, 87052, 221344, 34888, 270690, 14994, 49685, 121989, 50858, 208776, 131487, 120731, 77510, 272011, 84688, 115012, 266134, 25970, 29764, 220178, 99538, 143651, 114328, 75142, 51921, 93855, 218068, 6944, 48301, 214130, 239628, 75377, 243163, 253204, 170247, 131965, 226453, 125281, 77146, 250010, 112080, 255714, 191955, 165041, 254123, 260409, 77333, 78928, 14476, 194800, 181468, 42062, 85743, 235198, 200625, 254115, 190986, 51199, 89254, 13732, 132677, 250732, 177124, 232392, 21524, 28751, 40039, 125902, 40399, 185678, 251517, 77798, 215940, 274095, 165988, 132375, 170185, 16647, 26325, 104522, 75738, 43332, 106108, 50237, 180981, 43899, 190708, 151153, 131547, 260011, 163013, 139867, 43394, 5660, 133905, 229482, 188932, 61288, 119515, 258165, 243663, 31648, 122295, 60544, 256681, 184808, 249765, 47604, 258851, 20694, 222775, 57058, 241722, 106459, 29247, 142106, 51185, 85485, 32528, 204306, 183667, 140363, 13528, 163600, 75372, 101421, 182912, 71560, 156792, 74511, 239868, 72592, 213977, 177522, 84530, 90617, 179963, 229442, 195857, 242617, 123898, 52040, 163549, 252315, 84037, 56451, 185891, 154236, 132960, 96952, 80046, 28784, 75227, 101823, 74445, 21361, 186467, 99247, 227891, 175919, 51339, 65123, 1219, 210599, 16261, 202076, 15994, 225068, 97109, 98920, 102946, 56484, 86536, 172977, 21514, 204379, 249468, 15031, 87936, 49541, 148153, 84543, 170046, 181398, 2846, 171005, 72116, 148230, 118376, 48718, 197326, 273073, 113759, 32314, 33302, 80358, 89101, 9562, 161410, 185125, 168743, 221520, 198383, 205659, 48685, 172478, 36846, 258978, 179394, 82013, 203620, 131371, 47643, 160739, 187488, 30462, 185976, 238605, 133116, 32825, 155865, 14522, 148827, 151246, 112646, 259039, 204923, 131932, 92573, 170376, 35375, 178169, 108586, 218999, 178685, 219572, 107271, 224502, 178745, 99992, 29388, 91332, 84237, 256157, 177395, 101039, 254769, 218332, 100789, 37575, 238175, 11888, 77226, 244759, 216975, 52119, 261312, 211090, 217176, 269252, 68364, 92177, 149370, 54600, 28654, 13813, 125601, 192015, 201619, 66787, 208094, 15093, 21097, 59719, 239749, 104654, 198205, 21793, 242811, 180899, 6263, 263022, 55033, 25330, 88533, 232617, 4360, 162111, 131880, 241687, 271789, 215949, 240313, 18494, 266562, 140398, 143805, 207292, 23780, 219042, 67988, 137233, 34351, 73413, 221394, 241042, 45027, 222522, 265200, 248434, 147981, 44311, 69126, 231268, 101807, 11724, 262887, 255820, 270528, 167233, 105071, 231394, 31761, 38486, 97995, 53190, 33857, 123305, 239646, 122990, 248690, 229062, 263859, 5878, 63705, 188848, 87594, 56208, 53367, 8381, 225346, 15747, 135666, 10188, 37256, 96730, 215679, 146259, 136939, 78553, 273579, 190139, 96495, 119474, 57732, 204972, 168786, 197656, 103373, 241714, 181510, 237072, 213038, 216055, 16231, 240616, 171151, 174945, 150620, 16043, 106238, 200025, 248371, 7997, 178760, 88453, 215642, 52339, 158882, 188559, 114578, 79239, 46947, 112080, 263520, 267734, 266202, 175093, 3642, 137293, 182020, 100678, 77725, 217383, 208479, 247035, 39278, 209575, 28615, 109603, 243780, 5315, 462, 273881, 217817, 20104, 61688, 7764, 166644, 75995, 238017, 116793, 182219, 112898, 80831, 50228, 166496, 131061, 7475, 57765, 66650, 151685, 121389, 155756, 248763, 34438, 163649, 150005, 146449, 155042, 30076, 124145, 108078, 100212, 82149, 273266, 138284, 97981, 241423, 274258, 122038, 136554, 73584, 268204, 208853, 250416, 254606, 103568, 141165, 153037, 44753, 11556, 238181, 185590, 79076, 188779, 70066, 79990, 240464, 240776, 264057, 132103, 200914, 208022, 267377, 18296, 94557, 122010, 85016, 235243, 73684, 161043, 13263, 35505, 137584, 236920, 244999, 15078, 84373, 145078, 257894, 216388, 207210, 224659, 15387, 146226, 174734, 165524, 148385, 43476, 119343, 177901, 112454, 30704, 21874, 170304, 76066, 42093, 99729, 220152, 163397, 147074, 224726, 65316, 7667, 77508, 109023, 150602, 103924, 76366, 144333, 214906, 236118, 128643, 144269, 81136, 232551, 35233, 250637, 37136, 147410, 85925, 109293, 36053, 180088, 17638, 128358, 253407, 151391, 230180, 117327, 273990, 70550, 197170, 180338, 123492, 235475, 106642, 254984, 268261, 63307, 60937, 196324, 273108, 172438, 141603, 109726, 219046, 232100, 48678, 48439, 266018, 28281, 270056, 118950, 28293, 195357, 234873, 184010, 141982, 89175, 273058, 83835, 139287, 147563, 157697, 213688, 202967, 114232, 194954, 254300, 72494, 56348, 22679, 17623, 70796, 55638, 203797, 220950, 78584, 113983, 236417, 53352, 161152, 143631, 172063, 142596, 139940, 122973, 50425, 244384, 23510, 162728, 272283, 126797, 103945, 84182, 115320, 207987, 49928, 178250, 25722, 110772, 119254, 196983, 42058, 273858, 44633, 40238, 3495, 124340, 113421, 122272, 8565, 227246, 243865, 64949, 4978, 84407, 61179, 141888, 158852, 37038, 82529, 55205, 114491, 105468, 135676, 112565, 212143, 104351, 232841, 130691, 217897, 190392, 143544, 273269, 204374, 186717, 198755, 121511, 195716, 194686, 215167, 86821, 146839, 178120, 188084, 271012, 155406, 204704, 243127, 217468, 3738, 66219, 186211, 189849, 165703, 140810, 151643, 130934, 123676, 269554, 242825, 239464, 54589, 257260, 45331, 230769, 264859, 31027, 6038, 128978, 75953, 53784, 266500, 58401, 172522, 73793, 160314, 42446, 241660, 66717, 71147, 45136, 84074, 263497, 193782, 165670, 255570, 107191, 207233, 265598, 251764, 177152, 249939, 216717, 117463, 210978, 20547, 263532, 92065, 132995, 125461, 202400, 247053, 129879, 20692, 105131, 45837, 271739, 130223, 139623, 266331, 61806, 175636, 260409, 121040, 12391, 258837, 79133, 42807, 73519, 238030, 230952, 172253, 252436, 124989, 250650, 27102, 15049, 193186, 235367, 224304, 156021, 17866, 19340, 251095, 86091, 126758, 189348, 180834, 15185, 241416, 36567, 253989, 72292, 10871, 251325, 98552, 70190, 14667, 106904, 269261, 178918, 221753, 53955, 254106, 52237, 165224, 217407, 108965, 85011, 20741, 116839, 34208, 220506, 21774, 144782, 174221, 203838, 107278, 241503, 160843, 165180, 195300, 246493, 50833, 258560, 20232, 216925, 112211, 60824, 46050, 1825, 131856, 70620, 274465, 138400, 134496, 264707, 193659, 66723, 240167, 230151, 138298, 74440, 174022, 134149, 124646, 95230, 94070, 140387, 91590, 16490, 246548, 10350, 99121, 72026, 271832, 96621, 142748, 266004, 243677, 73807, 32499, 92915, 5327, 182402, 99883, 212383, 71457, 54920, 163158, 97688, 146954, 107653, 174240, 245367, 227615, 219322, 833, 127549, 71583, 244975, 50541, 29323, 154649, 26782, 131830, 204783, 49640, 178599, 131817, 22650, 110051, 83695, 49349, 186484, 252475, 180032, 82339, 64005, 8268, 190703, 31783, 123539, 178142, 116434, 169908, 17160, 175140, 156320, 42259, 107824, 171747, 150640, 190550, 47346, 123444, 89442, 235578, 47322, 98795, 272944, 56261, 13118, 87038, 218277, 217976, 50437, 219880, 175856, 113677, 153490, 258922, 43796, 109986, 251955, 145806, 269319, 219772, 44513, 268040, 202205, 15900, 129707, 195915, 112196, 35612, 173267, 19855, 214146, 197773, 42171, 130986, 9015, 71050, 260495, 231669, 264433, 269075, 96282, 162422, 153777, 41243, 16934, 137596, 267160, 183187, 154786, 229662, 90509, 250623, 193951, 261119, 262908, 267327, 254293, 272047, 195872, 208718, 85917, 87801, 243048, 131818, 123145, 123474, 223116, 193143, 52840, 249447, 217138, 70492, 33432, 270655, 261476, 220813, 238557, 8002, 1787, 58329, 239254, 85969, 85816, 273625, 213606, 24996, 156454, 213834, 171213, 226595, 203884, 180503, 240982, 157628, 134438, 257242, 2437, 98240, 157769, 216258, 194396, 211601, 171101, 248507, 149282, 69017, 114997, 1177, 175956, 25745, 122797, 185355, 96508, 79183, 85080, 166618, 243479, 230486, 123656, 195891, 95621, 236290, 237511, 173772, 122599, 204021, 106209, 200658, 78308, 263800, 156155, 202141, 60959, 87248, 206797, 266834, 44895, 32313, 210320, 178470, 210872, 212308, 199270, 146580, 97595, 263825, 173472, 169403, 175285, 207031, 33683, 51369, 150608, 60116, 268623, 79872, 219724, 43872, 193486, 255355, 42319, 81495, 87186, 152474, 43790, 222251, 256329, 252086, 63844, 258991, 230766, 121404, 96393, 244399, 98492, 147655, 108473, 66493, 63829, 60814, 18247, 136160, 107046, 243846, 178288, 117813, 263478, 70887, 222282, 233746, 114664, 217285, 64637, 196542, 173622, 205028, 52471, 199084, 171439, 47365, 148783, 14482, 249673, 161599, 266268, 38542, 217468, 158653, 199870, 114744, 224994, 69494, 176705, 7258, 121919, 86983, 185581, 31205, 274609, 129249, 176614, 83871, 29947, 245279, 199652, 92188, 10586, 12409, 258937, 215790, 202168, 233200, 227553, 241527, 125214, 119657, 104340, 138682, 134493, 76535, 32039, 27467, 142430, 162091, 110145, 255986, 50467, 139691, 245413, 188764, 134268, 162303, 255167, 99131, 258821, 128941, 148916, 272849, 122820, 66471, 36866, 152015, 271331, 169823, 46792, 23274, 143863, 8833, 45014, 81607, 70034, 93133, 82205, 52019, 81405, 259518, 136799, 97242, 241883, 226287, 166787, 56614, 249828, 17327, 33040, 215305, 116851, 13167, 114074, 226956, 71136, 170996, 76314, 24306, 179323, 87234, 74375, 216266, 224976, 111357, 69302, 101498, 134427, 204359, 107954, 119649, 38936, 235524, 147992, 250605, 153063, 208967, 163650, 242002, 274533, 141007, 21772, 107818, 56026, 100152, 239087, 108146, 11409, 50935, 174181, 247145, 15012, 246097, 205775, 115889, 106369, 263023, 166675, 87282, 99430, 159827, 29668, 88519, 181307, 237217, 266720, 48662, 40997, 67634, 244002, 43141, 241213, 147395, 32668, 117675, 60770, 151046, 106108, 192341, 179434, 233379, 228646, 246649, 200075, 246109, 138579, 117253, 99524, 185422, 147225, 256141, 100579, 192297, 249132, 7327, 102721, 154385, 268835, 131249, 212813, 119201, 256982, 97986, 131290, 44565, 38632, 64207, 234584, 20206, 24375, 78324, 221884, 112390, 237736, 81294, 260893, 166737, 215242, 70772, 81018, 250702, 7458, 95245, 238253, 167433, 165478, 252364, 218910, 139862, 257404, 66419, 95670, 241003, 274976, 241640, 42644, 152195, 267150, 44664, 241951, 42672, 133765, 108633, 164926, 154583, 162548, 23422, 238324, 253006, 34232, 228094, 255252, 168176, 257493, 30136, 147577, 37113, 145118, 179497, 264333, 29951, 82983, 134455, 28232, 242423, 185106, 143896, 237607, 223489, 139343, 251693, 220244, 79442, 99372, 63761, 94265, 35638, 229746, 139913, 2853, 185614, 163446, 238173, 160483, 86404, 136567, 99756, 65150, 216399, 155097, 257223, 209015, 107442, 269734, 266176, 231280, 62080, 163295, 106425, 139458, 66908, 189201, 266742, 290, 77535, 61632, 45566, 143567, 33142, 113881, 57086, 81885, 174261, 218791, 59973, 138258, 30527, 77054, 36445, 223444, 53971, 56484, 176972, 9204, 191397, 59659, 155178, 174705, 65869, 9678, 179556, 251519, 219002, 18139, 77192, 42475, 264638, 240965, 162565, 18005, 75026, 256450, 272332, 21983, 29087, 135428, 175425, 34226, 265015, 134941, 219321, 249206, 165127, 212411, 150437, 33610, 253900, 25958, 164385, 264457, 171666, 41086, 158052, 248032, 71141, 213490, 226662, 151781, 45787, 65121, 184999, 15359, 74745, 177331, 70206, 158997, 82549, 66481, 238692, 200956, 45950, 142695, 118973, 77067, 272511, 88728, 81161, 191509, 51265, 138802, 39372, 80478, 274433, 102259, 42288, 21037, 206806, 18325, 214049, 195995, 182728, 49098, 15124, 198826, 22630, 251160, 159634, 63145, 127509, 73868, 100201, 214140, 57260, 169774, 119981, 55161, 133814, 65888, 54142, 213768, 71636, 247481, 221258, 109672, 30965, 140381, 218736, 198202, 63442, 26940, 193517, 23780, 191920, 146864, 59417, 161294, 267337, 234938, 69323, 67896, 244469, 98572, 99136, 142086, 182317, 190174, 115167, 219220, 263464, 123894, 168584, 237095, 131482, 10188, 238612, 22451, 84230, 40236, 104176, 164845, 151246, 123068, 214061, 141939, 134588, 266477, 266044, 42664, 58911, 244342, 153613, 122988, 5402, 91385, 211455, 228279, 80904, 226663, 237740, 221921, 249919, 122437, 41817, 237837, 246847, 244049, 66782, 169394, 133140, 158069, 232364, 111869, 163043, 25320, 75049, 253806, 149312, 268744, 243177, 240259, 257447, 183668, 113429, 113724, 170236, 127083, 200090, 77685, 246740, 266239, 28013, 252051, 118035, 247529, 31936, 130927, 257211, 50195, 142556, 221509, 16369, 227110, 39109, 61697, 160122, 192735, 164423, 204642, 187696, 59388, 239558, 17494, 181173, 263096, 262760, 133063, 126288, 25632, 218578, 70794, 119423, 108053, 124905, 15015, 187536, 139896, 122625, 211120, 142319, 247780, 170539, 244565, 221572, 228, 151836, 254330, 268375, 5279, 153654, 35762, 87965, 13278, 177813, 11469, 270283, 80225, 102789, 121245, 16477, 86222, 10731, 189244, 185168, 35865, 137940, 256944, 232723, 166357, 243178, 21931, 202305, 58967, 77423, 25897, 181208, 65010, 14751, 220745, 249845, 241589, 114943, 219774, 217692, 239180, 15331, 20867, 168553, 239095, 133771, 69185, 233850, 275872, 183363, 273803, 214255, 15921, 55410, 220636, 45258, 28836]

Check if there is any gap between the Timestamps inside the benign

In [75]:
dataset_benign.sort_values(by='Session_ID')

            ID  Session_ID  Depth            Path  Label  time_diff
0            0    35396524      4       0\1\2\3\4      0        NaN
1            1    35396524      4       0\1\2\3\4      0        0.0
2            2    35396524      4       0\1\2\3\4      0        0.0
3            3    35396524      4       0\1\2\3\4      0        0.0
4            4    35396524      4       0\1\2\3\4      0        0.0
...        ...         ...    ...             ...    ...        ...
274046  274045    40617974      4    0\1\2\3\7631      0        0.0
274047  274046    40617974      4    0\1\2\3\7632      0        0.0
274048  274047    40617974      3         0\1\2\3      0        0.0
274049  274048    40617974      3         0\1\2\3      0        0.0
274051  274051    40618023      5  0\1\2\3\14\233      0       49.0

[274052 rows x 6 columns]

In [72]:
dataset_benign['time_diff'] = dataset_benign['Session_ID'].diff()
gaps = dataset_benign[(dataset_benign['time_diff'] >= 3000)]
print(gaps[['Session_ID', 'time_diff']])

        Session_ID  time_diff
862       35414007     4035.0
2092      35482614    51278.0
3164      35504865     4653.0
4049      35568126    49681.0
6403      35655762    50812.0
...            ...        ...
257213    40319583   176128.0
260670    40404232    48167.0
262195    40422830     3068.0
266526    40491750    49672.0
271546    40574674    48456.0

[80 rows x 2 columns]

Now since we have found where we can insert the malicious traffics, lets insert them...

In [127]:
import random
#Select the random malicious rows 
injected_dataset = dataset_benign.copy()

injected_indices = []
for _, malicious_row in malicious_logs1.iterrows():
        malicious_data = {
                'ID': malicious_row['ID'],
                'Session_ID': malicious_row['Session_ID'],
                'Depth': malicious_row['Depth'],
                'Path': malicious_row['Path'],
                'Label': 1
                

    }
        malicious_row_df = pd.DataFrame([malicious_data])
        injected_indices.append(random_index)
        injected_dataset = pd.concat([
                injected_dataset.iloc[:861],  
                malicious_row_df,                      
                injected_dataset.iloc[861:]  
        ]).reset_index(drop=True)

print(f"Original benign dataset length: {len(dataset_benign)}")
print(f"Injected dataset length: {len(injected_dataset)}")

Original benign dataset length: 274052
Injected dataset length: 276419

In [128]:
import random
for _, malicious_row in malicious_logs2.iterrows():
        malicious_data = {
                'ID': malicious_row['ID'],
                'Session_ID': malicious_row['Session_ID'],
                'Depth': malicious_row['Depth'],
                'Path': malicious_row['Path'],
                'Label': 1
                

    }
        malicious_row_df = pd.DataFrame([malicious_data])
        injected_indices.append(random_index)
        injected_dataset = pd.concat([
                injected_dataset.iloc[:2092],  
                malicious_row_df,                      
                injected_dataset.iloc[2092:]  
        ]).reset_index(drop=True)

print(f"Injected {len(malicious_subset)} malicious rows into the benign dataset.")
print(f"Original benign dataset length: {len(dataset_benign)}")
print(f"Injected dataset length: {len(injected_dataset)}")

Injected 2000 malicious rows into the benign dataset.
Original benign dataset length: 274052
Injected dataset length: 280801

In [129]:
import random
for _, malicious_row in malicious_logs2.iterrows():
        malicious_data = {
                'ID': malicious_row['ID'],
                'Session_ID': malicious_row['Session_ID'],
                'Depth': malicious_row['Depth'],
                'Path': malicious_row['Path'],
                'Label': 1
                

    }
        malicious_row_df = pd.DataFrame([malicious_data])
        injected_indices.append(random_index)
        injected_dataset = pd.concat([
                injected_dataset.iloc[:257213],  
                malicious_row_df,                      
                injected_dataset.iloc[257213:]  
        ]).reset_index(drop=True)

print(f"Injected {len(malicious_subset)} malicious rows into the benign dataset.")
print(f"Original benign dataset length: {len(dataset_benign)}")
print(f"Injected dataset length: {len(injected_dataset)}")

Injected 2000 malicious rows into the benign dataset.
Original benign dataset length: 274052
Injected dataset length: 285183

In [130]:
if 'time_diff' in injected_dataset.columns:
    injected_dataset.drop(['time_diff'], axis=1, inplace=True)
else:
    print("'time_diff' column not found in injected_dataset.")

In [96]:
injected_dataset.to_csv("5minute_injection.csv", index=False)

Weight 1, for the sedanspot

In [131]:
edges = []
prev_path = None

for _, row in injected_dataset.iterrows():
    current_path = row['Path']
    timestamp = row['Session_ID']
    label = row['Label']

    # Self-edge
    if prev_path == current_path:
        edges.append({
            'timestamp' : timestamp,
            'src_node' : current_path,
            'dst_node': current_path,
            'weight': 1, # Default weight
            'label' : label
        })
    elif prev_path is not None:
        edges.append({      
            'timestamp' : row['Session_ID'],
            'src_node' : prev_path,
            'dst_node': current_path,
            'weight': 1, # Default weight
            'label' : label # useful during evaluation, by default, it should be left as -
        })
    prev_path = current_path

edges_df = pd.DataFrame(edges)
edges_df

        timestamp      src_node        dst_node  weight  label
0        35396524     0\1\2\3\4       0\1\2\3\4       1      0
1        35396524     0\1\2\3\4       0\1\2\3\4       1      0
2        35396524     0\1\2\3\4       0\1\2\3\4       1      0
3        35396524     0\1\2\3\4       0\1\2\3\4       1      0
4        35396524     0\1\2\3\4       0\1\2\3\4       1      0
...           ...           ...             ...     ...    ...
285177   40617974  0\1\2\3\7631    0\1\2\3\7632       1      0
285178   40617974  0\1\2\3\7632         0\1\2\3       1      0
285179   40617974       0\1\2\3         0\1\2\3       1      0
285180   40617974       0\1\2\3    0\1\2\3\7632       1      0
285181   40618023  0\1\2\3\7632  0\1\2\3\14\233       1      0

[285182 rows x 5 columns]

In [132]:
edges_df[['timestamp', 'src_node', 'dst_node', 'weight', 'label']].to_csv(
    '5minute_injection.csv', sep = ',', header = False, index = False
)

In [ ]:

edges_df[['timestamp', 'src_node', 'dst_node', 'weight', 'label']].to_csv(
    'Random_injection.csv', sep = ',', header = False, index = False
)

Calculate the F1 score using this